<header class="topo-tela">
    <div class="header-container">
        <a href="index.html"><img src="../assets/img/logo.png" alt="BasicCalc Logo" class="logo"></a>
        
        <button class="hamburger-btn" id="hamburger-btn">
            &#9776; </button>

        <nav class="main-nav" id="main-nav-links">
            <ul>
                <li><a href="../index.html">Início</a></li>
                
                <li class="dropdown">
                    <a href="javascript:void(0);" class="drop-btn">Calculadoras &#9662;</a>
                    <div class="dropdown-content">
                        
                        <div class="dropdown-column">
                            <h4>Direitos Trabalhistas</h4>
                            <a href="../pages/sal_liquido.html">Salário Líquido</a>
                            <a href="../pages/ferias.html">Cálculo de Férias</a>
                            <a href="../pages/decimo_terceiro.html">13º Salário</a>
                            <a href="../pages/rescisao.html">Rescisão de Contrato (em breve)</a>
                        </div>
                        
                        <div class="dropdown-column">
                            <h4>Planejamento Financeiro</h4>
                            <a href="../pages/503020calc.html">Divisão de Salário (50/30/20)</a>
                            <a href="../pages/despesas.html">Divisão de Despesas</a>
                            <a href="../pages/metas.html">Metas Financeiras</a>
                            <a href="../pages/independencia.html">Independência Financeira</a>
                            <a href="../pages/dividas.html">Quitação de Dívidas</a>
                        </div>
                        
                        <div class="dropdown-column">
                            <h4>Investimentos</h4>
                            <a href="../pages/juros.html">Juros Compostos</a>
                            <br> <h4>Custos do Dia a Dia</h4>
                            <a href="../pages/gasxalc.html">Álcool ou Gasolina</a>
                            <a href="../pages/custo_viagem.html">Custo de Viagem</a>
                        </div>

                    </div>
                </li>

                <li><a href="sobre.html">Sobre</a></li>
            </ul>
        </nav>
    </div>
</header>